html{
        font-family:Helvetica;
}

img {
        width: 200px;
        height:auto;
        margin-right:auto;
        display:block;
}

a {
	white-space:pre;
}

h2{
	text-align: center;
}

#resultarea{
	width:45%;
	border: 1px solid;
	outline: thin;
	margin-left:auto;
	margin-right: auto;
}
#filterarea{
	position: fixed;
	top:20%;
	left:2%;
	width: 25%;
	border: 1px solid;
	outline: thin;
}
#incomingfilters{
	padding-left: 2px;
}
.createdfilter{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}
#buttondiv{
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom:5px;
}
#filterArea a{
	width: 25%;
	text-align: center;
	padding-top: 5px;
}