html{
        font-family:Helvetica;
}

img {
        width: 200px;
        height:auto;
        margin-right:auto;
        display:block;
}

a {
	white-space:pre;
}

h2{
	text-align: center;
}

#resultarea{
	width:40%;
	margin-left:auto;
	margin-right: auto;
}
#filterarea{
	position: fixed;
	top:15%;
	left:2%;
	max-width: 30%
}
.createdfilter{
	padding-top: 5px;
	padding-bottom: 5px;
}
#buttondiv{
	padding-top: 5px;
}