html{
        font-family:Helvetica;
}

img {
        width: 200px;
        height:auto;
        margin-right:auto;
        display:block;
}

a {
	white-space:pre;
}

h2{
	text-align: center;
}

#resultarea{
	width:80%;
	margin-left:auto;
	margin-right: auto;
}
#filterarea{
	position: fixed;
	top:5%;
	right:5%;
}