html{
        font-family:Helvetica;
}

img {
        width: 200px;
        height:auto;
        margin-right:auto;
        display:block;
}

a {
	white-space:pre;
}

h2{
	text-align: center;
}

#resultarea {
	width: 69%;
	padding-top: 2px;
	margin-left: auto;
	padding-right: 2%;
	padding-left: 15px;
}
#filterarea{
	position: fixed;
	top:20%;
	left:2%;
	width: 25%;
	border: 1px solid;
	outline: thin;
}
#incomingfilters{
	padding-left: 5px;
}
.createdfilter{
	padding-top: 5px;
	padding-bottom: 5px;
}
#buttondiv{
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom:5px;
}
#filtertitle{
	width: 100%;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

table, th, td{
	border: 1px solid black;
	border-collapse: collapse;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
}