<html lang="en">
        <head>
                {% load staticfiles %}
                <meta charset="utf-8">
                <title>ODNC Crime Search</title>
                <link href="{% static 'ResultPageStyle.css' %}" rel="stylesheet">
        </head>
        <body>
                <img src="{% static "opennc_logo.png" %}"/>
                <h2>Details</h2>
                {% for i in QuerySet %}
                        Name: {{i.Name}}<br>
                        DOB:{{i.DOB}}<br>
                        Age:{{i.Age}}<br>
                        Race:{{i.Race}}<br>
                        Sex: {{i.Sex}}<br>
                        Place of Birth: {{i.Place_of_Birth}}<br>
                        Country of Citizenship: {{i.Country_of_Citizenship}}<br>
                        Address: {{i.Address}}<br>
                        Phone Number: {{i.Arrestee_Phone}}<br>
                        Occupation: {{i.Occupation}}<br>
                        Residency status: {{i.Residency_Status}}<br>
                        Employer Name:{{i.Employer_Name}}<br><br>

                        {{i.Charge1}}<br>
                        {{i.Charge1_Type}}<br>
                        {{i.Charge1_Counts}}<br>
                        {% if i.Charge2 != 'NULL' %}
                                {{i.Charge2}}<br>
                                {{i.Charge2_Type}}<br>
                                {{i.Charge2_Counts}}<br>
                        {% endif %}
                        {{i.Date_Arrested}}<br><br>
                {% endfor %}
        </body>
</html>
