<html lang="en">
        <head>
                {% load staticfiles %}
                <meta charset="utf-8">
                <title>ODNC Crime Search</title>
                <link href="{% static 'ResultPageStyle.css' %}" rel="stylesheet">
        </head>
        <body>
                <img src="{% static "opennc_logo.png" %}"/>
                <h2>Details</h2>
                <table>
                {% for i in QuerySet %}
                <tr><td>Name</td><td>{{i.Name}}</td></tr>
                <tr><td>DOB</td><td>{{i.DOB}}</td></tr>
                <tr><td>Age</td><td>{{i.Age}}</td></tr>
                <tr><td>Race</td><td>{{i.Race}}</td></tr>
                <tr><td>Sex</td><td>{{i.Sex}}</td></tr>
                <tr><td>Place of Birth</td><td>{{i.Place_of_Birth}}</td></tr>
                <tr><td>Country of Citizenship</td><td>{{i.Country_of_Citizenship}}</td></tr>
                <tr><td>Address</td><td>{{i.Address}}</td></tr>
                <tr><td>Phone Number</td><td>{{i.Arrestee_Phone}}</td></tr>
                <tr><td>Occupation</td><td>{{i.Occupation}}</td></tr>
                <tr><td>Residency status</td><td>{{i.Residency_Status}}</td></tr>
                <tr><td>Employer Name</td><td>{{i.Employer_Name}}</td></tr>
                </table>

                        {{i.Charge1}}<br>
                        {{i.Charge1_Type}}<br>
                        {{i.Charge1_Counts}}<br>
                        {% if i.Charge2 != 'NULL' %}
                                {{i.Charge2}}<br>
                                {{i.Charge2_Type}}<br>
                                {{i.Charge2_Counts}}<br>
                        {% endif %}
                        {{i.Date_Arrested}}<br><br> -->
                {% endfor %}
        </body>
</html>
