<html lang="en">
        <head>
                {% load staticfiles %}
                <meta charset="utf-8">
                <title>ODNC Crime Search</title>
                <link href="{% static 'ResultPageStyle.css' %}" rel="stylesheet">
        </head>
        <body>
                <a href='search'><img src="{% static "opennc_logo.png" %}"/></a>
                <h2>Details</h2>
                {% for i in QuerySet %}
                <table id='personalinfo'>
                {% if i.Name != 'NULL' %}<tr><td>Name</td><td>{{i.Name}}</td></tr>{%endif%}
                {% if i.Also_Known_As != 'NULL' %}<tr><td>Also Known As</td><td>{{i.Also_Known_As}}</td></tr>{%endif%}
                {% if i.DOB != 'NULL' %}<tr><td>DOB</td><td>{{i.DOB}}</td></tr>{%endif%}
                {% if i.Age != 'NULL' %}<tr><td>Age</td><td>{{i.Age}}</td></tr>{%endif%}
                {% if i.Race != 'NULL' %}<tr><td>Race</td><td>{{i.Race}}</td></tr>{%endif%}
                {% if i.Sex != 'NULL' %}<tr><td>Sex</td><td>{{i.Sex}}</td></tr>{%endif%}
                {% if i.Place_of_Birth != 'NULL' %}<tr><td>Place of Birth</td><td>{{i.Place_of_Birth}}</td></tr>{%endif%}
                {% if i.Country_of_Citizenship != 'NULL' %}<tr><td>Country of Citizenship</td><td>{{i.Country_of_Citizenship}}</td></tr>{%endif%}
                {% if i.Address != 'NULL' %}<tr><td>Address</td><td>{{i.Address}}</td></tr>{%endif%}
                {% if i.Arrestee_Phone != 'NULL' %}<tr><td>Phone Number</td><td>{{i.Arrestee_Phone}}</td></tr>{%endif%}
                {% if i.Occupation != 'NULL' %}<tr><td>Occupation</td><td>{{i.Occupation}}</td></tr>{%endif%}
                {% if i.Residency_Status != 'NULL' %}<tr><td>Residency status</td><td>{{i.Residency_Status}}</td></tr>{%endif%}
                {% if i.Employer_Name != 'NULL' %}<tr><td>Employer Name</td><td>{{i.Employer_Name}}</td></tr>{%endif%}
                </table>

                <table id='arrestinfo'>
                {% if i.If_Armed_Type_of_Weapon != 'NULL' %}<tr><td>Name</td><td>{{i.If_Armed_Type_of_Weapon}}</td></tr>{%endif%}
                {% if i.Arrest_Type != 'NULL' %}<tr><td>Name</td><td>{{i.Arrest_Type}}</td></tr>{%endif%}
                {% if i.Charge1 != 'NULL' %}
                        <tr><td>Charge</td><td>{{i.Charge1}}</td></tr>
                        <tr><td>Charge Type</td><td>{{i.Charge1_Type}}</td></tr>
                        <tr><td>Counts</td><td>{{i.Charge1_Counts}}</td></tr>
                        <tr><td>DCI Code</td><td>{{i.Charge1_DCI_Code}}</td></tr>
                        <tr><td>Offense Jusrisdiction</td><td>{{i.Charge1_Offense_Jurisdiction}}</td></tr>
                        <tr><td>Statute Number</td><td>{{i.Charge1_Statute_Number}}</td></tr>
                        <tr><td>Warrant Date</td><td>{{i.Charge1_Warrant_Date}}</td></tr>
                {%endif%}
                {% if i.Charge2 != 'NULL' %}
                        <tr><td>Charge</td><td>{{i.Charge2}}</td></tr>
                        <tr><td>Charge Type</td><td>{{i.Charge2_Type}}</td></tr>
                        <tr><td>Counts</td><td>{{i.Charge2_Counts}}</td></tr>
                        <tr><td>DCI Code</td><td>{{i.Charge2_DCI_Code}}</td></tr>
                        <tr><td>Offense Jusrisdiction</td><td>{{i.Charge2_Offense_Jurisdiction}}</td></tr>
                        <tr><td>Statute Number</td><td>{{i.Charge2_Statute_Number}}</td></tr>
                        <tr><td>Warrant Date</td><td>{{i.Charge2_Warrant_Date}}</td></tr>
                {%endif%}
                {% if i.Charge3 != 'NULL' %}
                         <tr><td>Charge</td><td>{{i.Charge3}}</td></tr>
                        <tr><td>Charge Type</td><td>{{i.Charge3_Type}}</td></tr>
                        <tr><td>Counts</td><td>{{i.Charge3_Counts}}</td></tr>
                        <tr><td>DCI Code</td><td>{{i.Charge3_DCI_Code}}</td></tr>
                        <tr><td>Offense Jusrisdiction</td><td>{{i.Charge3_Offense_Jurisdiction}}</td></tr>
                        <tr><td>Statute Number</td><td>{{i.Charge3_Statute_Number}}</td></tr>
                        <tr><td>Warrant Date</td><td>{{i.Charge3_Warrant_Date}}</td></tr>
                {%endif%}
                </table>
                {% endfor %}
        </body>
</html>
