<html lang="en">
        <head>
                {% load staticfiles %}
                <meta charset="utf-8">
                <title>ODNC Crime Search</title>
                <link href="{% static 'ResultPageStyle.css' %}" rel="stylesheet">
                <script src="{% static 'jquery-2.1.1.min.js' %}"></script>
                <script src="{% static 'FilterHandler.js' %}"></script>
        </head>
        <body>
                <a href='search'><img src="{% static "opennc_logo.png" %}"/></a>
                <h2>Results</h2>
                <form action = "ResultPage.html" method="GET">
                        <div id = 'filterArea'>
                                <div id='filtertitle'>Update filters:</div>
                                <div id='incomingfilters'></div>
                                <div id='buttondiv'>
                                        <button type=button id="addFilter">add filter</button>
                                        <input id='updatesearch' type='submit'>
                                </div>
                        </div>
                        <script> 
                                var string=window.location.href;
                                var result = string.split("?");
                                string = result[1];
                                result = string.split("&");
                                for(i=0; i<result.length;i++){
                                        var toSplit= result[i];
                                        var leftRight=toSplit.split("=");
                                        $("#incomingfilters").append("<input type='hidden' name='"+leftRight[0]+"' value='"+leftRight[1]+"'>");
                                }

                        </script>
                </form>
                <div id='resultarea'>
                        <table>
                                {% if QuerySet %}
                                <tr>
                                        <th>Name</th>
                                        <th>Charge</th>
                                        <th>Arrest Date</th>
                                        <th>Place of Arrest</th>
                                        <th>Additional Information</th>
                                </tr>
                                {%endif%}
                                {% for i in QuerySet %}
                                <tr>
                                        <td>{{i.Name|title}}</td>
                                        <td>{{i.Charge1}}</td>
                                        <td>{{i.Date_Arrested}}</td>
                                        <td>{{i.Place_of_Arrest|title}}</td>
                                        <td><a href="DetailPage.html?{{i.OCA}}">More Details</a></td>
                                </tr>
                                {% empty %}
                                        No Results matched your search
                                {%endfor%}
                        </table>
                </div>
        </body>
</html>
