<html lang="en">
        <head>
                {% load staticfiles %}
                <meta charset="utf-8">
                <title>ODNC Crime Search</title>
                <link href="{% static 'ResultPageStyle.css' %}" rel="stylesheet">
                <script src="{% static 'jquery-2.1.1.min.js' %}"></script>
                <script src="{% static 'FilterHandler.js' %}"></script>
        </head>
        <body>
                <img src="{% static "opennc_logo.png" %}"/>
                <h2>Results</h2>
                <form action = "ResultPage.html" method="GET">
                        <div id = 'filterArea'>
                                <a>Update filters:</a>
                                <div id='incomingfilters'></div>
                                <div id='buttondiv'>
                                        <button type=button id="addFilter">add filter</button>
                                        <input id='updatesearch' type='submit'>
                                </div>
                        </div>
                        <script> 
                                var string=window.location.href;
                                var result = string.split("?");
                                string = result[1];
                                result = string.split("&");
                                for(i=0; i<result.length;i++){
                                        var toSplit= result[i];
                                        var leftRight=toSplit.split("=");
                                        $("#incomingfilters").append("<input type='hidden' name='"+leftRight[0]+"' value='"+leftRight[1]+"'>");
                                        console.log(leftRight[0]);
                                        console.log(leftRight[1]);
                                }

                        </script>
                </form>
                <div id='resultarea'>
                        aasfkjahsfjahlsfkjahsfkljahsfkljahsfkl ksjfahjsfjsfhljksfhjsasfjka<br>
                        aasfkjahsfjahlsfkjahsfkljahsfkljahsfka sjfahjsfjsfhljkshklasfhjslasfjka<br>
                        aasfkjahsfjahlsfkjahsfkljahsfkljahsfla jfahjsfjsfhljkfhklasfhjslasfjka<br>
                        aasfkjahsfjahlsfkjahsfkljahsfkljahkla ksahjsfjsfhljsfhklasfhjslasfjka<br>
                        aasfkjahsfjahlsfkjahsfkljahsfkljasfkla ksjfhjsfjsfhlksfhlajsfhjslasfjka<br>
                        aasfkjahsfjahlsfkjahsfkljahsfkljhsfkla ksjfasfjsfjksfhklajsfhjslasfjka<br>
                        aasfkjahsfjahlsfkjahsfkljahsfklahsfkla ksjfahjjshljksflajsfhjslasfjka<br>
                        aasfkjahsfjahlsfkjahsfkljahsfkjahsfkla ksjfahjsffhljkfhklajsfhjslasfjka<br>
                        aasfkjahsfjahlsfkjahsfkljahsfljahsfkla ksjfahjsfjsfhjksfhklajsfhjslasfjka<br>
                        aasfkjahsfjahlsfkjahsfkljahskljahsfkla ksjfahjsfjsfljksfhklajsfhjslasfjka<br>
                        aasfkjahsfjahlsfkjahsfkljahfkljahsfkla ksjfahjsfjshljksfhklajsfhjslasfjka<br>
                        aasfkjahsfjahlsfkjahsfkljasfkljahsfkla ksjfahjsfjfhljksfhklajsfhjslasfjka<br>
                        aasfkjahsfjahlsfkjahsfkljhsfkljahsfkla ksjfahjsfsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahsfjahlsfkjahsfklahsfkljahsfkla ksjfahjsjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahsfjahlsfkjahsfkjahsfkljahsfkla ksjfahjfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahsfjahlsfkjahsfljahsfkljahsfkla ksjfahsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahsfjahlsfkjahskljahsfkljahsfkla ksjfajsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahsfjahlsfkjahfkljahsfkljahsfkla ksjfhjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahsfjahlsfkjasfkljahsfkljahsfkla ksjahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahsfjahlsfkjhsfkljahsfkljahsfkla ksfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahsfjahlsfkjahsfkljahsfkljahsfkla sjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahsfjahlsfahsfkljahsfkljahsfkla kjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahsfjahlskjahsfkljahsfkljahsfkla ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahsfjahlfkjahsfkljahsfkljahsfkl ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahsfjahsfkjahsfkljahsfkljahsfka ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahsfjalsfkjahsfkljahsfkljahsfla ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahsfjhlsfkjahsfkljahsfkljahskla ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahsfahlsfkjahsfkljahsfkljahfkla ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahsjahlsfkjahsfkljahsfkljasfkla ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahfjahlsfkjahsfkljahsfkljahsfkla ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjasfjahlsfkjahsfkljahsfklhsfkla ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjhsfjahlsfkjahsfkljahsfkjahsfkla ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkahsfjahlsfkjahsfkljahsfljahsfkla ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfjahsfjahlsfkjahsfkljahskljahsfkla ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aaskjahsfjahlsfkjahsfkljahfkljahsfkla ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aafkjahsfjahlsfkjahsfkljasfkljahsfkla ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahsfjahlsfkjahsfklahsfkljahsfkla ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahsfjahlsfkjahsfkjahsfkljahsfkla ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahsfjahlsfkjahsfljahsfkljahsfkla ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahsfjahlsfkjahsfkljahsfkljahsfkla ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahsfjahlsfkjahkljahsfkljahsfkla ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahsfjahlsfkjahsfkljahsfkljahsfkla ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahsfjahlsfkjsfkljahsfkljahsfkla ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahsfjahlsfkahsfkljahsfkljahsfkla ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahsfjahlsfjahsfkljahsfkljahsfkla ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahsfjahlskjahsfkljahsfkljahsfkla ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahsfjahlsfkjahsfkljahsfkljahsfkla ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahsfjahfkjahsfkljahsfkljahsfkla ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahsfjalsfkjahsfkljahsfkljahsfkla ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahsfjhlsfkjahsfkljahsfkljahsfkla ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahsahlsfkjahsfkljahsfkljahsfkla ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahfjahlsfkjahsfkljahsfkljahsfkla ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjsfjahlsfkjahsfkljahsfkljahsfkla ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkahsfjahlsfkjahsfkljahsfkljahsfkla ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasjahsfjahlsfkjahsfkljahsfkljahsfkla ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aafkjahsfjahlsfkjahsfkljahsfkljahsfkla ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahsfjahlsfkjahsfkljahsfkljahsfkla ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahsfjahlsfkjahsfkljahsfkljahsfkla ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahsfjahlsfkjahsfkljahsfkljahsfkla ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahsfjahlsfkjahsfkljahsfkljahsfkla ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahsfjahlsfkjahsfkljahsfkljahsfkla ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahsfjahlsfkjahsfkljahsfkljahsfkla ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahsfjahlsfkjahsfkljahsfkljahsfkla ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahsfjahlsfkjahsfkljahsfkljahsfkla ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahsfjahlsfkjahsfkljahsfkljahsfkla ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahsfjahlsfkjahsfkljahsfkljahsfkla ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahsfjahlsfkjahsfkljahsfkljahsfkla ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahsfjahlsfkjahsfkljahsfkljahsfkla ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahsfjahlsfkjahsfkljahsfkljahsfkla ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahsfjahlsfkjahsfkljahsfkljahsfkla ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahsfjahlsfkjahsfkljahsfkljahsfkla ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahsfjahlsfkjahsfkljahsfkljahsfkla ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahsfjahlsfkjahsfkljahsfkljahsfkla ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahsfjahlsfkjahsfkljahsfkljahsfkla ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahsfjahlsfkjahsfkljahsfkljahsfkla ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahsfjahlsfkjahsfkljahsfkljahsfkla ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahsfjahlsfkjahsfkljahsfkljahsfkla ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahsfjahlsfkjahsfkljahsfkljahsfkla ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahsfjahlsfkjahsfkljahsfkljahsfkla ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
                        aasfkjahsfjahlsfkjahsfkljahsfkljahsfkla ksjfahjsfjsfhljksfhklajsfhjslasfjka<br>
		      {% for i in outputList %}
                        <a>{{i|linebreaksbr}}</a><br><br><br>
                        {%endfor%}
                </div>
        </body>
</html>
