<!DOCTYPE html>
<html lang="en">
        <head>
                {% load staticfiles %}
                <meta charset="utf-8">
                <title>ODNC Crime Search</title>
                <link href="{% static 'SearchPageStyle.css' %}" rel="stylesheet">
                <script src="{% static 'jquery-2.1.1.min.js' %}"></script>
                <script src="{% static 'FilterHandler.js' %}"></script>
        </head>
        <body>
                <img src="{{ static }}opennc_logo.png" />
                <h2>Accident/ Arrest Search</h2>
                <form id="form1" action='ResultPage.html' method="GET">
                        <div id="searchsection">
                                <input id='searchbar' name='searchbar' type="text" />
                                <input id='searchbutton' type='submit'>
                        </div>
                        <div id="incomingfilters"></div>
                        <div id="buttondiv">
                                <button type=button id="addFilter">+</button>
                        </div>
                </form>
        </body>
</html>
